*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0b0b0b;
    --secondary-color: #ffffff;
    --tertiary-color: #ff6f61;
    --font: 'sans-serif';
    --font-size-base: 16px;
}

body{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    font-size: calc(var(--font-size-base) * 0.8); /* 12.8px */
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

nav button{
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: var(--font-size-base);
    cursor: pointer;
    padding: 10px 15px;
}

nav button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

nav button:active{
    transform: scale(0.98);
}

#logo{
    width: 30px;
    height: 30px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(90deg);
    margin-right: auto;
}

#content{
    flex: 1;
    display: flex;
    background-color: var(--primary-color);
}


/* main page */
#main-page-container{
    background-image: url('./assets/images/amelie.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    gap: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#main-menu-button{
    padding: 10px 20px;
    font-size: calc(var(--font-size-base) * 1.2);  /* 19.2px */
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-color);
    cursor: pointer;
}

#main-menu-button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

#main-menu-button:active{
    transform: scale(0.98);
}

#main-heading{
    font-size: calc(var(--font-size-base) * 2); /* 32px */
}

#main-subheading{
    font-size: calc(var(--font-size-base) * 1.2); /* 19.2px */
    font-style: italic;
}
